<h1>CO2 Emission</h1>
<p>Carbon dioxide (CO2) is an important heat-trapping gas, also known as a greenhouse gas, that comes from the extraction and burning of fossil fuels (such as coal, oil, and natural gas), from wildfires, and natural processes like volcanic eruptions.</p>
<p>Since the onset of industrial times in the 18th century, human activities have raised atmospheric CO2 by 50% – meaning the amount of CO2 is now 150% of its value in 1750. This human-induced rise is greater than the natural increase observed at the end of the last ice age 20,000 years ago.</p>
<form>
  <label for="countries">Select Country:</label>
  <select name="countries" id="countries" [(ngModel)]="country" (change)="update()" aria-placeholder="select a country">
     @for(country of countries; track $index) {
      <p>{{country}}</p>
      <option value={{country}}>{{ country }}</option>
      }
  </select>
  <br/><br/>
  <section>
    <div class="checkbox-section">
      <input type="checkbox" id="chartFormat" name="chartFormat" (change)="updateChart()" [(ngModel)]="selectChart">
      <label for="chartFormat"> Graphical representation</label><br>
    </div>
    <div class="checkbox-section">
      <input type="checkbox" id="tableFormat" name="tableFormat" (change)="updateTable()" [(ngModel)]="selectTable">
      <label for="tableFormat"> Table representation</label><br>
    </div>
  </section>
  <br><br>
</form>