<h1>CO2 Emission</h1>
<form>
  <label for="countries">Select Country:</label>
  <select name="countries" id="countries" [(ngModel)]="country" (change)="update()" aria-placeholder="select a country">
     @for(country of countries; track $index) {
      <p>{{country}}</p>
      <option value={{country}}>{{ country }}</option>
      }
  </select>
  <br/><br/>
  <section>
    <div class="checkbox-section">
      <input type="checkbox" id="chartFormat" name="chartFormat" (change)="update()" [(ngModel)]="selectChart">
      <label for="chartFormat"> Graphical representation</label><br>
    </div>
    <div class="checkbox-section">
      <input type="checkbox" id="tableFormat" name="tableFormat" (change)="update()" [(ngModel)]="selectTable">
      <label for="tableFormat"> Table representation</label><br>
    </div>
  </section>
  <br><br>
</form>