@if (country() && selectChart) {
  <div class="chart-wrapper" style="position: relative; height:40vh; width:80vw">
    <canvas
    baseChart
    [type]="'line'"
    [data]="lineChartData"
    [options]="lineChartOptions"
    [legend]="lineChartLegend"
    >
    </canvas>
  </div>
  }


  @if (country() && selectTable) {
    <table>
      <caption>The CO2 emission for {{country()}} from year 1980 to 2022</caption>
      <thead>
        <tr>
          <th>Number</th>
          <th>Year</th>
          <th>Emission</th>
        </tr>
      </thead>
      <tbody>
        @for(data of tableValue; track $index;) {
          @if($index%6 === 0) {
            <tr>
              @if($first) {<td>{{$index + 1}}</td>}
              @else {<td>{{($index/6)+1}}</td>}
              <td>{{data.year}}</td>
              <td>{{data.emission}}</td>
            </tr>
          }
        }
      </tbody>
  </table>
  }


